<a href="https://colab.research.google.com/github/santoshkumarbvp/Data-sets/blob/master/read_excel_from_local_to_dataframe_in_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [0]:
from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving movies.csv to movies.csv
Saving ratings.csv to ratings (1).csv
User uploaded file "movies.csv" with length 458390 bytes
User uploaded file "ratings.csv" with length 2438266 bytes

In [0]:
import pandas as pd

In [0]:
import io
df1 = pd.read_csv(io.BytesIO(uploaded['ratings.csv']))
df2 = pd.read_csv(io.BytesIO(uploaded['movies.csv']))

In [0]:
df2.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
df1.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

**Reading Excel from Google drive successfully, below is complete code.**

In [0]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

**Just go to the csv file which you want to import here in colab in dataframe, and get its shareble link. and use in below code.**

In [0]:
link = 'https://drive.google.com/open?id=1Fo3L42EqH1IuxNk1rgYSq4OJztNxjCfJ'

In [7]:
fluff, id = link.split('=')
print (id)

1Fo3L42EqH1IuxNk1rgYSq4OJztNxjCfJ

In [10]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('movies_metadata.csv')  
df3 = pd.read_csv('movies_metadata.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df3.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]